* { box-sizing: border-box }

button#load-data {
  display: block;
  width: 100px;
  margin: 20px auto 0 auto;
}

#report-widget-mount {
  width: 800px;
  height: 600px;
  margin: 10px auto 0 auto;
}

.header.row .col {
  width: 60%
}

.row {
  border: 1px solid blue;
}

.col {
  border: 1px solid red;
}

/*************************************************************/
/* Debug */
/*************************************************************/
.dblack {
  border: 1px solid black;
}
